<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- 添加权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- GPS权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.example.util.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabBaseActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".CodeActivity" />
        <activity android:name=".ShopListActivity" />
        <activity
            android:name=".ItemListActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart" >
        </activity>
        <activity
            android:name=".AddressListActivity"
            android:label="@string/title_activity_address_list" >
        </activity>
        <activity
            android:name=".AddressActivity"
            android:label="@string/title_activity_address" >
        </activity>

        <service android:name="com.example.service.CartService" >
        </service>

        <activity
            android:name=".PersonActivity"
            android:label="@string/title_activity_person" >
        </activity>
    </application>

</manifest>
